.sidebarrow {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.sidebarrow:hover {
  background-color: lightgray;
  border-radius: 10px;
}
.sidebarrow p {
  margin-left: 10px;
  font-weight: 500;
}
.sidebarrow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}
